*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    height: 100%;
    padding: 2rem;
    background-color: white ;
    text-align: center;
}

.header-content{
    display: flex;
    justify-content: space-between;
max-width: 1280px;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: bold;
    gap: 0.625rem;
    color: black;
}
.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}

.logo-text{
    font-size: 2rem;
    font-weight: bold;
}

.nav{
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

.nav-link{
    font-size: 1.125rem;
    font-weight: 600 ;
    text-decoration: none;
    color: #718096;
}

.contact-button{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #6366f1;
    padding: 0.75rem 1.5rem;
} 